footer{
    width: 100%;

    .logo-name{
        font-size: 24px;
        font-weight: 600;
    }
    .footer-link{
        color: #E7E7E7;
        font-weight: 400;
        font-size: 14px;
        transition: all .1s ease-in-out;
        padding: 8px 0;
        border-bottom: 2px solid transparent ;
        &:hover{
            border-bottom: 2px solid rgb(44, 80, 42) ;
        }
    }
    .media-icon{
        color: #E7E7E7;
        transition: all .1s ease-in;
    
        &:hover{
            transform: scale(1.1);
        }
    }

    @media (min-width: 1536px){
        width: 1200px;
    }
    
}