header{

    .logo-name {
        font-size: 24px;
        color: #172D15;
    }
    
    .logo-image {
        width: 40px;
    }
    
    .navigation {
        display: none;
        .link {
            font-family: "Manrope";
            font-size: 14px;
            color: #7D7D7D;
            text-transform: capitalize;
            padding: 8px 4px;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.1s;
            -webkit-transition: border-bottom 0.1s;
            font-weight: 400;
    
            &:hover {
                border-bottom: 2px solid #2E582C;
                color: #2E582C;
            }
        }
        .link-active{
            border-bottom: 2px solid #2E582C;
            color: #2E582C;
        }
        .contactBtn {
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            border: 1px solid none;
            min-height: 40px;
            min-width: 104px;
            font-weight: 800;
            border-radius: 4px;
            background-color: #CFFE64;
            color: #2E582C;
            margin: 0;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .active{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 24px;
    }

    .hamburgerBtn {
        display: none;
        cursor: pointer;
        svg{
            width: 28px;
            height: 28px;
            color: black;
        }
    }

    @media (max-width: 900px){
        .hamburgerBtn{
            display: block;
        }
    }
    @media (min-width: 900px){
        .navigation{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 24px;
        }
    }
}